body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    display: flex;
    flex: 0 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}
p{
    font-size: 15vh;
    text-align: center;

    animation-name: title;
    animation-duration: 3s;
}

@keyframes title {
    from {
        font-size: 0vh;
    }
    to {
        font-size: 15vh;
        text-align: center;
    }
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    background-color: aquamarine;

}
.list-item {
    font-size: 50px;
    text-align: center;
}
.navbar-item {
    font-size: 50px;
    border-bottom: solid gray thin;
    text-align: center;
}
footer{
    flex: 1;
    display: flex;
    flex: 0 30px;
    background-color: black;
    color: white;
}

.grid{
    display: grid;
}
footer{
    flex: 0 30px;
}
.footer-navbar {
    padding: 0 0.3em;
    flex-direction: column !important;
}



