body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    display: flex;
    flex: 0 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    text-align: center;
}
p{
    font-size: 12vh;

    animation-name: title;
    animation-duration: 3s;
}

@keyframes title {
    from {
        font-size: 0vh;
    }
    to {
        font-size: 12vh;
    }
}

main {
    flex: 1 calc(100vh - 110px);
    display: block;
    text-align: center;
    background-color: aquamarine;
    font-size: 50px;
}

.nav-item {
    border-bottom: center solid gray thin;
}
footer{
    flex: 1;
    flex: 0 30px;
    background-color: black;
    color: white;
}

.footer-navbar-item {
    padding: 0 0.3em;
}



